<div class="row">
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <br>
        <h3 class="text-center">SUCURSALES FILTRO</h3>
        <label for="">Seleccione Sucursal</label>
        <select class="form-control" [(ngModel)]="this.sucursaleUsuInterfase.id_suc"
            (change)="this.bancoService.getSucursalesUsuarios(this.sucursaleUsuInterfase.id_suc)">
            <option *ngFor="let data of this.bancoService.listSucursales" value="{{data.id_suc}}">
                {{data.nom_suc}} </option>
        </select>
        <br>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>USUARIO</th>
                <th>TOTAL</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of this.bancoService.listSucursalesUsuarios">
                    <td>{{ data.id_suc }}</td>
                    <td>{{ data.nom_suc }}</td>
                    <td>{{ data.nom_usu }}</td>
                    <td>{{ data.total | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>