button {
    width: 150px !important;
    transition: margin-left 1s;
}

i {
    float: right !important;
}

button:hover {
    margin-left: 100px;
}

.content-menu {
    margin-left: -117px;
    width: 200px;
    position: fixed;
    top: 25px;
    top: 83px;
    z-index: 1000;
}